.first, .second, .third {
  width: 300px;
  height: 400px;
  float: left;
  position: absolute;
  left: -300px;
  opacity: 1;
  -webkit-transition: all  .3s;
  transition: all  .3s; }

.container {
  width: 300px;
  height: 400px;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: rgba(96, 124, 138, 0.05); }

* {
  margin: 0;
  padding: 0; }

.ph {
  width: 900px; }

.first {
  background-color: green; }

.second {
  background-color: orange; }

.third {
  background-color: blue; }

.animate-in {
  left: 0; }

.animate-complete {
  opacity: 1;
  left: 0; }

.animate-out {
  left: -300px; }
