@import 'base';

.container {
	width: 300px;
	height: 400px;
	display: block;
	overflow:hidden;
	position: relative;
	background-color: hsla(200, 18%, 46%, 0.05);
}

* {
	margin: 0;
	padding:0;
}

// %box {
// 	width: 300px;
// 	height: 400px;
// 	float: left;
// 	position: absolute;
// 	left: -300px;
// 	opacity: 1;
// 	transition:all  .3s;
// }

// @mixin box(){
// 	width: 300px;
// 	height: 400px;
// 	float: left;
// 	position: absolute;
// 	left: -300px;
// 	opacity: 1;
// 	transition:all  .3s;
// }

.ph {
	width: 900px;
}

.first {
	@extend %box!optional;
	background-color: green;
}
.second {
	@extend %box!optional;
	background-color: orange;
}
.third {
	@extend %box!optional;
	background-color: blue;
}

.animate-in {
	left: 0;
}

.animate-complete {
	opacity: 1;
	left: 0;
}

.animate-out {
	left: -300px;
}


.animate-out-complete {

}